<header class="main-header">
    <div class="logo">
      <h1>🌍 UESEC Command</h1>
      <p>United Earth Space Exploration</p>
    </div>
    <nav class="nav-links">
        <a href="/">Home</a>
        <a href="/api/personnel/add"> Add Personel </a>
        <a href="/api/ships/add"> Add new Ship </a>
        <a href="/api/missions/add">Add new Mission</a>
        <a href="/api/missions/report"> Mission Report</a>
    </nav>
  </header>
  